<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Новый товар</title>
    <div th:insert="fragments/bg" ></div>
</head>
<body>
<div th:insert="fragments/header :: header" ></div>
    <div id = "bg"></div>
    <font color="red" >
        <a align="center" th:text="${err}"></a>
    </font>
    <font color="#7cfc00" >
        <a align="center" th:text="${ok}"></a>
    </font>
    <div align="center">
        <form method="post" th:href="'/tovari/add'">
            <input type="text" name="url" style="font-size: 21px" placeholder="Ссылка на изображение">
            <input type="text" name="name" style="font-size: 21px" placeholder="название"><br>
            <input type="number" name="count" style="font-size: 21px" placeholder="количество">
            <input type="number" name="cost" style="font-size: 21px" placeholder="цена">
            <select name="vid" style="font-size: 21px">
                <div th:each="el : ${allvids}">
                    <option  th:text="${el.name}" th:value="${el.id}"></option>
                </div>
            </select>
            <br>
            <br>
            <textarea cols="100" rows="10" name="discription" width="500px" placeholder="Описание товара"></textarea>
            <br>
            <br>
            <button type="submit" class="btn btn-warning">Опубликовать товар</button>
        </form>
    </div>
<div th:insert="fragments/footer :: footer" ></div>
</body>
</html>