#bg{
    width: 400px;
    height: 250px;
    background-image: url(https://1.bp.blogspot.com/-QZAMtIUCv4Q/XqMXlcB-_WI/AAAAAAAAR_4/zbn6cQtKEmoqVqLQZoWTMfQ1mu8UkvLngCLcBGAsYHQ/s1600/10.jpg);
}
#margin{
    margin-left: 100px;
    margin-right: 100px;
}